* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-custom {
    display: flex;
    flex-direction: row;
    gap: 59%;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    padding-left: 3%;
    padding-right: 2.5%;
    color: white
}

.header-pp {
    display: flex;
    flex-direction: row;
    gap: 59%;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    padding-left: 3%;
    padding-right: 2.5%;
    color: white
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
    gap: 1.7rem;
}

.header-title {
    margin-bottom: 1rem;
    text-decoration: none !important;
    text-align: start;
}

.header-subtitle {
    margin-bottom: 0.5rem;
    text-decoration: none !important;
}

.header-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none !important;
    align-items: start;
}

.header-front, .header-back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    backface-visibility: hidden;
}

.header-back {
    transform: rotateY(180deg);
}

.header-image-container{
    width: 160px !important;               /* Set fixed width */
    height: 160px !important;              /* Set fixed height */
    perspective: 1000px; 
    border-radius: 50%;         /* Make the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.header-image {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.header-image-container:hover .header-image {
    transform: rotateY(180deg)
}

.pp-content li {
    display: flex;
    flex-direction: row;
}

.pp-content h5 {
    margin-right: 5px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.address-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    gap: 18px;
}

header, footer {
    background-color: #2a2a2a;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #444444;
    padding: 1rem;
}

nav ul li {
    margin: 0 5rem;
}

nav ul li:hover {
    zoom: 120%;
    transition: 300ms;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

.experience-grid, .education-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 2.5fr));
    /* grid-template-columns: 2rem; */
}

.experience-item, .education-item {
    height: 500 !important;
    width: 250 !important;
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    color: black !important;
}

.experience-item:hover {
    background-color: white;
    zoom: 110%;
    transition: 300ms;
    background-size: cover;
    background-position: center;
}

.education-item:hover {
    background-color: white;
    color: transparent !important;
    zoom: 110%;
    transition: 300ms;
    background-size: cover;
    background-position: center;
}

.experience-item-content, .education-item-content {
    text-align: start;
}

.education-title {
    margin-bottom: 0.7rem;
    /* color: black */
}

.education-item .institution {
    margin-bottom: 0.5rem;
}

.education-item .institution {
    margin-bottom: 0.5rem;
}

.education-item-title {
    margin-bottom: 1rem;
}

.education-item-description {
    text-align: justify;
    margin-bottom: 0.3rem;
}

.education-item-description:hover {
    text-align: start;
    color: transparent !important;
    margin-bottom: 0.3rem;
}

.education-projects {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    text-align: justify;
}

.education-projects .title {
    font-size: large;
    font-weight: 700;
}

.education-projects .content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.education-projects .skills {
    font-style: oblique;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.project-item {
    display: inline-block;
    height: 250 !important;
    width: 300 !important;
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    background-size: cover;
    background-position: center;
}

.project-item:hover {
    background-color: white;
    zoom: 110%;
    transition: 400ms;
    color: transparent
}

.experience-item.expanded, .education-item.expanded {
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
}

.experience-item .img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.experience-item .skills {
    padding-top: 1rem;
    font-weight: 700;
    font-style: normal;
}

.experience-item .project {
    padding-top: 1rem;
    text-align: justify;
}

.experience-item .paper {
    padding-top: 1rem;
    text-align: start;
}

.links a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #2a2a2a;
    color: #ffffff;
    text-decoration: none !important;
    border-radius: 4px;
}

.horizontal-row {
    display: flex;
    text-align: center;
    align-items: center;  /* Aligns text and image vertically centered */
    gap: 10px;            /* Adds space between the text and image */
}

.locate-icon {
    width: 30px !important;          /* Set a desired width for the image */
    height: 30px !important;         /* Set a desired height for the image */
    border-radius: 50%;   /* Makes the image circular */
    cursor: pointer;
}

.round-image {
    width: 100px !important;               /* Set fixed width */
    height: 100px !important;              /* Set fixed height */
    border-radius: 50%;         /* Make the image circular */
    border: 2px solid #424242;  /* 2px material-style border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    object-fit: cover;          /* Ensures the image fills the circular shape */
}

.job-title {
    margin-bottom: 1rem;
    text-decoration: none;
}

.job-firm {
    margin-bottom: 0.7rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.job-firm:hover {
    margin-bottom: 0.7rem;
    /* color: transparent */
}

.job-duration {
    margin-bottom: 0rem;
    margin-top: 0.7rem;
}

.job-projects {
    align-content: justify;
}

.disable-link-underscore {
    text-decoration: none !important;
    color: #2a2a2a;
    cursor: pointer;
}

.contact-logo {
    height: 35px !important;
    width: 35px !important;
    border-radius: 5px;
    object-fit: fill;
    box-shadow: 0 2px 6px white;
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
    color: white
}

.contact-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007bd9
}

.contact-item {
    display: flex;
    text-align: center;
    align-items: center;  /* Aligns text and image vertically centered */
    gap: 10px;            /* Adds space between the text and image */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-container {
    display: flex;
    text-align: center;
    align-items: center;  /* Aligns text and image vertically centered */
    gap: 7%;            /* Adds space between the text and image */
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}

/* Card Style */
.card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none !important;
}

.card:hover {
    transform: scale(1.05);
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid #333;
    object-fit: contain;
    margin-bottom: 2rem;
    text-decoration: none !important;
    color: black;
}

.reference-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none !important;
    color: black;
}

.reference-content {
    margin-bottom: 1rem;
    text-decoration: none !important;
    color: black;
}

.download-btn {
    display: flex;
    flex-direction: row;
    background-color: #4b4b4b;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 20px;
    box-shadow: 4px 7px 7px rgba(255, 255, 255, 0.1);
}

.download-btn:hover {
    background-color: #787878;
}

.download-img {
    height: 25px;
    width: 25px;
    border-radius: 3.9px;
}

/* Responsive layout for mobile screens */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;   /* Stacks items vertically */
        padding-left: 1rem;       /* Reduces padding for smaller screens */
        padding-right: 1rem;
    }

    .header-custom {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        padding-right: 0%;
        color: white
    }

    .header-text {
        padding-bottom: 1.5rem;
        align-items: center;
    }

    .header-left {
        flex-direction: column;
        align-content: center;
        gap: 0rem;
    }

    .header-right {
        margin-top: 1rem;
    }

    .header-image-container{
        margin-bottom: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        background-color: #444444;
        padding: 1rem;
        /* margin-left: 1rem; */
    }

    nav ul li {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}